<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{config.name.length > 0 ? config.name : 'Item'}}
        </mat-panel-title>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-red-400 pr-[3.25rem] pt-[0.2vh]" (click)="deleteItem()"
                    fontIcon="delete"></mat-icon>
        </span>
    </mat-expansion-panel-header>
    <div class="flex flex-wrap">
        <div class="p-3">
            <label for="itemName" class="text-sm font-medium text-gray-900">Item Name</label>
            <div class="mt-1 rounded-md">
                <input type="text" name="itemName" id="itemName" [(ngModel)]="config.name" (ngModelChange)="itemChanged()"
                    class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="Item Name" />
            </div>
        </div>

        <div class="p-3">
            <label for="basePrice" class="text-sm font-medium text-gray-900">Base Price</label>
            <div class="mt-1 rounded-md">
                <input type="number" name="basePrice" id="basePrice" [(ngModel)]="config.basePrice" (ngModelChange)="itemChanged()"
                    class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="Base Price"/>
            </div>
        </div>

        <div class="p-3">
            <label for="quantity" class="text-sm font-medium text-gray-900">Quantity</label>
            <div class="mt-1 rounded-md">
                <input type="number" name="quantity" id="quantity" [(ngModel)]="config.quantity"
                    class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="quantity" />
            </div>
        </div>
    </div>
</mat-expansion-panel>