<app-page-header [config]="headerConfig"></app-page-header>
<div class="relative w-full overflow-y-scroll">
    <div class="px-16 py-10">
        <mat-accordion class="example-headers-align" multi [togglePosition]="'before'">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Basic Deatils
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type your name and age
                    </mat-panel-description> -->
                </mat-expansion-panel-header>

                <div class="flex flex-wrap">
                    <div class="p-3">
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Event Name</label>
                        <div class="mt-1 rounded-md">
                            <input type="text" name="price" id="price" [(ngModel)]="auction.name" [disabled]="isReadOnly"
                                class="rounded-md border-0 p-1 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="">
                        </div>
                    </div>

                    <div class="p-3">
                        <label for="businessUnit" class="block text-sm font-medium leading-6 text-gray-900">Business
                            Category</label>
                        <div class="mt-1 rounded-md">
                            <select name="businessUnit" id="businessUnit" [disabled]="isReadOnly" [(ngModel)]="auction.businessUnit"
                                class="rounded-md border-0 p-[7px] pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option value="1">
                                    Technology
                                </option>
                                <option value="2">
                                    E-commerce
                                </option>
                                <option value="3">
                                    Event Management
                                </option>
                                <option value="4">
                                    Construction
                                </option>
                                <option value="5">
                                    Logistics
                                </option>
                                <option value="6">
                                    Healthcare
                                </option>
                                <option value="7">
                                    Others
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="p-3">
                        <label for="description" class="text-sm font-medium leading-6 text-gray-900">Event
                            Description</label>
                        <div class="mt-1 rounded-md">
                            <textarea type="text" name="price" id="price" [(ngModel)]="auction.description" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder=""></textarea>
                        </div>
                    </div>
                </div>



            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Event Schedule
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type the country name
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="flex flex-wrap w-full">
                    <div class="p-3 w-[40%]">
                        <label for="startDate" class="text-sm font-medium leading-6 text-gray-900"> Start Date </label>
                        <div class="mt-1 rounded-md">
                            <input type="date" name="price" id="price" [(ngModel)]="auction.startdate" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="p-3 w-[40%]">
                        <label for="starttime" class="text-sm font-medium leading-6 text-gray-900">Start Time</label>
                        <div class="mt-1 rounded-md">
                            <input type="time" name="price" id="price" [(ngModel)]="auction.startTime" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="p-3 w-[40%]">
                        <label for="enddate" class="text-sm font-medium leading-6 text-gray-900">End Date</label>
                        <div class="mt-1 rounded-md">
                            <input type="date" name="price" id="price" [(ngModel)]="auction.endDate" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="p-3 w-[40%]">
                        <label for="endtime" class="text-sm font-medium text-gray-900">End Time</label>
                        <div class="mt-1 rounded-md">
                            <input type="time" name="price" id="price" [(ngModel)]="auction.endTime" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="!isNewAuction" disabled="{{isNewAuction}}">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Suppliers
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type the country name
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
               <app-supplier [eventId]="eventId" [readOnly]="isReadOnly"></app-supplier>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="!isNewAuction" disabled="{{isNewAuction}}">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Rank Attributes
                    </mat-panel-title>
                    <mat-panel-description>
                        Weight the attributes out of 10
                    </mat-panel-description>
                    
                </mat-expansion-panel-header>
                <div class="flex">
                    <div class="p-3 inline-block">
                        <label for="startDate" class="text-sm font-medium leading-6 text-gray-900"> Price </label>
                        <div class="mt-1 rounded-md">
                            <input type="number" name="price" id="price" [(ngModel)]="auction.priceWeight" [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="p-3">
                        <label for="starttime" class="text-sm font-medium leading-6 text-gray-900"> Quality </label>
                        <div class="mt-1 rounded-md">
                            <input type="number" name="price" id="price" [(ngModel)]="auction.qualityWeight"  [disabled]="isReadOnly"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="p-3">
                        <label for="enddate" class="text-sm font-medium leading-6 text-gray-900"> Delivery Time </label>
                        <div class="mt-1 rounded-md">
                            <input type="number" name="price" id="price" [disabled]="isReadOnly" [(ngModel)]="auction.deliveryTimeWeight"
                                class="block rounded-md border-0 py-1.5 pl-7 pr-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="" />
                        </div>
                    </div>
                </div>
             
               
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="!isNewAuction"  disabled="{{isNewAuction}}">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lots
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Inform the date you wish to travel
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <app-lot-grid [eventId]="eventId" [readOnly]="isReadOnly"></app-lot-grid>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- <div class="bottom-0 fixed bg-white"> -->
    <div class="flex justify-end px-16 py-10">
        <button class="bg-white text-primary p-2 rounded-lg w-[200px] shadow-md hover:shadow-2xl mr-5" (click)="createEvent()">{{'Cancel'}}</button> 
        
        <button class="bg-primary text-white p-2 rounded-lg w-[200px] shadow-md hover:shadow-2xl mr-5" *ngIf="auction.statusCode==1" (click)="saveAsDraft()">{{'Save As Draft'}}</button>

        <button class="bg-primary text-white p-2 rounded-lg w-[200px] shadow-md hover:shadow-2xl mr-5" *ngIf="auction.statusCode==2" (click)="backToDraft()">{{'Back to Draft'}}</button>

        <button class="bg-primary text-white p-2 rounded-lg w-[200px] shadow-md hover:shadow-2xl mr-5" *ngIf="!isNewAuction" (click)="submitAuction()">{{'Submit'}}</button>
    </div>

    <!-- <div class="container"> 
        <div class="spinner-frame"> 
            <div class="spinner-cover"></div> 
            <div class="spinner-bar">Hello</div>
        </div>
    </div> -->
    <!-- </div> -->
</div>
<!-- <ngx-spinner type="ball-scale-multiple" [fullScreen]="false"></ngx-spinner> -->