<div class="flex flex-col bg-white">
    <div class="flex flex-col p-2 border-[1px] border-slate-200">
        <span class="text-xs">Auction Name</span>
        <span class="text-lg">Walmart Logistics</span>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-col p-2 border-[1px] border-slate-200 flex-grow">
            <span class="text-xs">Rank</span>
            <span class="text-lg">1</span>
        </div>
        <div class="flex flex-col p-2 border-[1px] border-slate-200 flex-grow">
            <span class="text-xs">Total Suppliers</span>
            <span class="text-lg">10</span>
        </div>
        <div class="flex flex-col p-2 border-[1px] border-slate-200 flex-grow">
            <span class="text-xs">Best Bid</span>
            <span class="text-lg">300 USD</span>
        </div>
    </div>
</div>