<div name="warpper" class="flex flex-col justify-center p-10">
    <div name="heading" class="flex justify-center p-5 text-3xl font-custom font-bold text-primary">
        Sign in to your account
    </div>
    <!-- <form class="space-y-6"> -->
        <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
            <div class="mt-1">
              <input id="email" name="email" type="email" autocomplete="email" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
    
          <div class="mt-[1vh]">
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
              <div class="text-sm">
                <a href="#" class="font-semibold text-primary">Forgot password?</a>
              </div>
            </div>
            <div class="mt-1">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
    
          <div class="flex mt-[2vh] items-center justify-center">
            <button type="submit" class="flex w-full items-center justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" (click)="signIn()">Sign in</button>
          </div>

          <div>
            <div class="text-sm text-primary font-semibold">
                Not yet register ? <a skipLocationChange (click)="signUpClicked()" class="cursor-pointer text-orange-500">Sign up here.</a> 
            </div>
          </div>
    <!-- </form> -->
</div>
