
::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }

  ::-webkit-scrollbar-thumb {
    background: #C6C1EA; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }